language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

env:
  - SYMFONY_VERSION="~2.3"
  # Test against previous minor releases of Symfony 2.x to ensure that we
  # actually support the versions we specify in our requirements.
  - SYMFONY_VERSION="2.3.*"

sudo: false

before_script:
  # Use --prefer-source to download dependencies via git and avoid GitHub API
  # rate limits resulting in 502 HTTP responses, build errors and
  # Composer\Downloader\TransportException.
  # https://github.com/symfony/symfony/issues/4687
  - composer install --dev --no-interaction --prefer-source
  # Update the Symfony version to test against.
  - composer require symfony/options-resolver:${SYMFONY_VERSION}

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml.dist
