language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

env:
  - PREFER_LOWEST="--prefer-lowest"
  - PREFER_LOWEST=""

matrix:
  include:
    # PHP 5.3 builds have to be included manually as they require precise
    - php: 5.3
      dist: precise
      env: PREFER_LOWEST="--prefer-lowest"
    - php: 5.3
      dist: precise
      env: PREFER_LOWEST=""

sudo: false

before_script:
  - composer update --no-interaction $PREFER_LOWEST

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml.dist
