language: php

php:
  - 7.2
  - 7.3
  - 7.4

jobs:
  allow_failures:
    - php: 7.4
      env: PREFER_LOWEST=""
    - php: 7.4
      env: PREFER_LOWEST="--prefer-lowest"

cache:
  directories:
    - $HOME/.composer/cache

env:
  - PREFER_LOWEST="--prefer-lowest"
  - PREFER_LOWEST=""

before_script:
  - composer update --no-interaction $PREFER_LOWEST

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml.dist
