<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<!-- A Generator instance seems to pile up configuration if called
     multiple times with configurations referencing different WSDLs.
     This results in Generators writing code for all WSDLs that has
     passed through.
     @TODO Process isolation is a temporary hack. Can this be fixed? -->
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="true"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Unit tests">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Functional tests">
            <directory>tests/functional</directory>
        </testsuite>
    </testsuites>

</phpunit>
